// colors
$yellow: #fc6;
$black: #010101;
$white: #ffffff;
$light_grey: #CCCCCC;
$dark_grey: #656565;
$blue: #2a81dd;
$red: #FF0000;

$dark_blue: #121e2d;

$font_raleway: '__RalewayFont_a8776d', '__RalewayFont_Fallback_a8776d';
$font_playfair_display: '__PlayfairDisplayFont_178bf3', '__PlayfairDisplayFont_Fallback_178bf3';