@use './variables' as v;
@import './adaptive';

body{
    margin: 0;
    padding: 0;
    *{
        box-sizing: border-box;
        text-decoration: none;
    }
}

.container{
    margin: 0 auto;
    padding: 0 16px;
    @include _xl{
        width: 1200px;        
    }
}