@use './variables' as v;
@import './adaptive';

header#header{
    .content{
        font-family: v.$font_raleway;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;

        .logo{
            height: 24px;
            img{
                height: 100%;
                width: 100%;
            }
        }
        nav{
            display: none;
        }
        .hamburger{
            cursor: pointer;
            width: 30px;
            height: 20px;
            content: url('../assets/svg/hamburger.svg');
        }
        nav.user{
            flex-direction: row;
            align-items: center;
            gap: 20px;
            .notifications{
                display: flex;
                display: none;
                padding: 12px;
                align-items: center;
                gap: 10px;
                border-radius: 100px;
                background: #F6F8F9;
                i{
                    display: flex;
                    width: 16px;
                    height: 16px;
                    padding: 1.333px 2.617px 2px 2.667px;
                    justify-content: center;
                    align-items: center;
                    content: url('../assets/svg/notification.svg');
                }
            }
            .user{
                display: flex;
                align-items: center;
                gap: 3px;
                .avatar{
                    display: flex;
                    width: 40px;
                    height: 40px;
                    align-items: center;
                    flex-shrink: 0;

                    border-radius: 100px;
                    background: #1A1A1A;
                    overflow: hidden;
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
                .dropdown{
                    display: none;
                    i{
                        cursor: pointer;
                        flex-shrink: 0;
                        content: url('../assets/svg/chevron-down.svg');
                    }
                }
            }
        }
        .lang{
            position: relative;

            color: #1A1A1A;
            font-family: v.$font_raleway;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 24px; /* 150% */

            .current{
                text-transform: uppercase;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 5px;
                cursor: pointer;
                i{
                    width: 19px;
                    height: 19px;
                    content: url('../assets/svg/chevron-down.svg');
                }
            }
            .dropdown{
                display: none;
                position: absolute;
                top: 100%;
                right: 0;
                z-index: 1000;
                border-radius: 4px;
                border: #DADADA 1px solid;
                background: white;

                flex-direction: column;
                &.active{
                    .option{
                        cursor: pointer;
                        padding: 4px 12px;
                        &:hover{
                            background: #07604B;
                            color: white;
                        }
                    }
                    display: flex;
                }
            }
        }
        @include _xl{
            .logo{
                height: 36px;
            }
            .hamburger{
                display: none;
            }
            nav{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 30px;
                
                .auth-btns{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10px;
                    .auth-btn {
                        cursor: pointer;
                        display: flex;
                        padding: 14px 40px;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;

                        border-radius: 10px;

                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px; 
                        &.sign-up{
                            color: #FFF;
                            font-weight: 500;
                            background: #07604B;
                        }
                        &.sign-in{
                            color: #1A1A1A;
                            border: 1px solid #DADADA;
                        }
                    }
                }
            }

            
        }
    }

    .header-menu{
        position: fixed;
        inset: 0;
        z-index: 1000;

        background: #07604B;
        .content{
            padding: 30px;
            display: flex;
            flex-direction: column;
            height: 100%;
            .top{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .close{
                    cursor: pointer;
                    width: 20px;
                    height: 20px;
                    content: url('../assets/svg/close-white.svg');
                }
            }
            nav{
                width: 100%;
                flex-grow: 1;
                justify-content: center;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 16px;
                .auth-btn{
                    width: 100%;
                    display: flex;
                    padding: 14px 30px;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                    align-self: stretch;
                    
                    border-radius: 8px;
                    border: 1px solid #EAECF0;
                    
                    color: #FFF;
                    font-family: v.$font_raleway;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 20px; /* 142.857% */
                    &.sign-up{
                        color: #07604B;
                        border: none;
                        background: #FFF;
                    }
                }
                .langs{
                    display: flex;
                    flex-direction: row;
                    gap: 10px;
                    width: 100%;
                    .option{
                        cursor: pointer;
                    padding: 14px 30px;

                        flex: 1 0 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        border-radius: 8px;
                        border: 1px solid #EAECF0;
                        
                        color: #FFF;
                        font-family: v.$font_raleway;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 20px; /* 142.857% */
                        &.active{
                            color: #07604B;
                            border: none;
                            background: #FFF;
                        }
                    }
                }
                &.user{
                    padding-top: 60px;
                    padding-bottom: 30px;
                    font-family: v.$font_raleway;
                    font-style: normal;

                    justify-content: space-between;
                    align-items: flex-start;
                    .usermenu{
                        display: flex;
                        width: 100%;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 20px;
                        .group{
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 15px;
                            align-self: stretch;
                            label{
                                color: #D4D4D8;
                                font-size: 14px;
                                font-weight: 600;
                                line-height: 20px; /* 142.857% */
                                letter-spacing: 0.7px;
                            }
                            .links{
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                gap: 10px;
                                .link{
                                    display: flex;
                                    width: 100%;
                                    padding: 10px 15px;
                                    align-items: center;
                                    gap: 10px;

                                    color: #FFF;
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: 20px; /* 142.857% */
                                    i{
                                        width: 28px;
                                        max-width: 28px;
                                        height: 28px;
                                        flex-shrink: 0;
                                        &.menu{
                                            content: url('../assets/svg/profile/user-menu-white.svg');
                                        }
                                        &.lessons{
                                            content: url('../assets/svg/profile/user-lessons-white.svg');
                                        }
                                        &.profile{
                                            content: url('../assets/svg/profile/user-profile-white.svg');
                                        }
                                        &.settings{
                                            content: url('../assets/svg/profile/user-settings-white.svg');
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .logout{
                        cursor: pointer;
                        display: flex;
                        width: 220px;
                        padding: 14px 30px;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;

                        border-radius: 8px;
                        border: 1px solid #EAECF0;

                        color: #FFF;
                        font-family: v.$font_raleway;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 20px; /* 142.857% */
                    }
                }
            }
        }
    }
}