@use './variables' as v;
@import './adaptive';


#landing{
    .content{

        @include _xl{
            padding: 30px 0 90px;
            .hero{
                display: flex;
                flex-direction: row;
                align-items: center;
                .text-wrapper{
                    width: 391px;
        
                    display: flex;
                    flex-direction: column;
                    gap: 35px;
        
                    .text{
                        display: flex;
                        flex-direction: column;
                        gap: 25px;
                        .title{
                            color: #1A1A1A;
                            font-family: v.$font_playfair_display;
                            font-size: 52px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 60px; /* 115.385% */
                            span{
                                color: #07604B;
                                font-style: italic;
                            }
                        }
                        .subtitle{
                            color: #1A1A1A;
                            font-family: v.$font_raleway;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24px; /* 150% */
                        }
                    }
                    .btn{
                        display: flex;
                        padding: 20px 40px;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
        
                        border-radius: 100px;
                        background: #07604B;
        
                        color: #FFF;
                        font-family: v.$font_raleway;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 24px; /* 150% */
                        i{
                            width: 24px;
                            height: 24px;
                            content: url('../assets/svg/arrow-narrow-right.svg');
                        }
                    }
                }
                .hero-img{
                    margin: 0 auto;
                }
            }
            .lessons{
                margin-top: 90px;
                display: flex;
                flex-direction: column;
                gap: 50px;
                .title{
                    color: #1A1A1A;
                    font-family: v.$font_playfair_display;
                    font-size: 44px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 52px; /* 118.182% */
                    span{
                        color: #07604B;
                        font-style: italic;
                    }
                }
                .cards-wrapper{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 30px;
                    width: 100%;
                    .cards{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        align-content: center;
                        gap: 15px;
                        flex-wrap: wrap;
                        .card{
                            width: calc((100% - 30px) / 3);
                            display: flex;
                            padding: 40px 30px;
                            align-items: center;
                            gap: 45px;
                            flex-shrink: 0;

                            border-radius: 4px;
                            border: 1px solid #EAECF0;
                            .card-body{
                                display: flex;
                                align-items: center;
                                gap: 20px;
                                .card-img{
                                    display: flex;
                                    width: 70px;
                                    height: 70px;
                                    padding: 20px;
                                    justify-content: center;
                                    align-items: center;
                                    gap: 10px;
                                    border-radius: 100px;
                                    background: #EAECF0;
                                    img{
                                        width: 38px;
                                        max-width: 38px;
                                        height: 38px;
                                        max-height: 38px;
                                    }
                                }
                                .card-text{
                                    display: flex;
                                    flex-direction: column;
                                    align-items: flex-start;
                                    gap: 4px;
                                    font-family: v.$font_raleway;
                                    color: #1A1A1A;
                                    font-style: normal;
                                    .name{
                                        font-size: 22px;
                                        font-weight: 600;
                                        line-height: 30px; /* 136.364% */
                                    }
                                    .count{
                                        font-size: 14px;
                                        font-weight: 400;
                                        line-height: 22px; /* 157.143% */
                                    }
                                }
                            }
                            .card-link{
                                width: 42px;
                                height: 42px;
                                i{
                                    width: 42px;
                                    height: 42px;
                                    content: url('../assets/svg/chevron-right.svg');
                                }
                            }
                        }
                    }
                    .btn{
                        display: flex;
                        padding: 16px 40px;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        border-radius: 10px;
                        border: 1px solid #DADADA;

                        color: #1A1A1A;
                        font-family: v.$font_raleway;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 24px; /* 150% */
                        cursor: pointer;
                    }
                }
            }
            .how-works{
                margin-top: 90px;
                width: 100%;
                display: inline-flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 50px;
                .title{
                    color: #1A1A1A;
                    font-family: v.$font_playfair_display;
                    font-size: 44px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 52px; /* 118.182% */
                    span{
                        color: #07604B;
                        font-style: italic;
                    }
                }
                .cards{
                    width: 100%;
                    display: flex;
                    align-items: flex-start;
                    gap: 45px;
                    .card{
                        padding: 40px 25px 0;
                        width: calc((100% - 90px) / 3);
                        border-radius: 20px;
                        background: #F4F5F6;
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        .card-number{
                            display: flex;
                            width: 42px;
                            height: 42px;
                            padding: 10px;
                            justify-content: center;
                            align-items: center;
                            gap: 10px;
                            flex-shrink: 0;
                            border-radius: 100px;
                            background: #07604B;

                            .num1{
                                content: url('../assets/svg/1.svg');
                            }
                            .num2{
                                content: url('../assets/svg/2.svg');
                            }
                            .num3{
                                content: url('../assets/svg/3.svg');
                            }
                        }
                        .card-body{
                            display: flex;
                            flex-direction: column;
                            gap: 25px;
                            .text{
                                display: flex;
                                flex-direction: column;
                                gap: 15px;
                                .title{
                                    all: unset;
                                    color: #000;
                                    font-family: v.$font_playfair_display;
                                    font-size: 28px;
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: 36px; /* 128.571% */
                                }
                                .description{
                                    color: #2A2A2A;
                                    font-family: v.$font_raleway;
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 20px; /* 142.857% */
                                }
                            }
                            .card-img{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}