@use '../variables' as v;
@import '../adaptive';

#profileSettings{
    display: flex;
    flex-direction: column;
    gap: 20px;

    h1{
        margin: 0;
        color: #1A1A1A;
        font-family: v.$font_playfair_display;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px; /* 125% */
    }
    .settings-wrapper{
        display: flex;
        flex-direction: column;
        gap: 20px;

        h2{
            margin: 0;
            color: #1A1A1A;
            font-family: v.$font_raleway    ;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 28px; /* 140% */
        }
        h3{
            margin: 0;
            color: #313131;
            font-family: v.$font_raleway;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px; /* 133.333% */
        }
    }
    @include _xl{
        gap: 30px;
        h1{
            font-size: 32px;
            line-height: 42px; /* 131.25% */
        }
        .settings-wrapper{
            flex-direction: row;
            gap: 30px;
        }
    }
}

.profile-settings, .password-settings, .notification-settings, .delete-settings{
    display: flex;
    flex-direction: column;
    gap: 20px;
    form{
        display: flex;
        flex-direction: column;
        gap: 20px;
        .avatar-edit{
            display: flex;
            flex-direction: column;
            gap: 20px;
            .avatar{
                display: block;
                width: 150px;
                height: 150px;
                background: #F4F5F6;
                border-radius: 50%;
                overflow: hidden;
                margin: auto;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
            .avatar-btns{
                display: flex;
                width: 100%;
                align-items: flex-start;
                gap: 8px;
                .btn{
                    cursor: pointer;
                    display: flex;
                    padding: 12px 25px;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;
                    flex: 1 0 0;
                    border-radius: 4px;
                    background: #07604B;
        
                    color: #FFF;
                    font-family: v.$font_raleway;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 20px; /* 166.667% */
                    input{
                        display: none;
                    }
        
                    &.delete{
                        background: #F4F5F6;
                        /* Shadow/xs */
                        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
        
                        color: #1A1A1A;
                        font-weight: 500;
                    }
                }
            }
        }
        .inputs{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 15px;
            .row{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 15px;
                width: 100%;

            }
            .inputs-group{
                width: 100%;

                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 20px;
                .checkboxes{
                    width: 100%;

                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 25px;
                    label.checkbox-round{
                        display: flex;
                        width: 100%;
                        justify-content: space-between;
                        align-items: center;
                        
                        color: #313131;
                        font-family: v.$font_raleway;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 20px; /* 142.857% */

                        input{
                            display: none;
                        }
                        span{
                            cursor: pointer;
                            position: relative;
                            display: block;
                            width: 48px;
                            height: 24px;
                            border-radius: 24px;
                            background: #F4F5F6;
                            &::after{
                                position: absolute;
                                content: "";
                                display: block;
                                width: 18px;
                                height: 18px;
                                background: #FFF;
                                border-radius: 50%;
                                top: 3px;
                                left: 3px;
                                transition: left .3s ease-in-out;
                            }
                            transition: all .3s ease-in-out;
                        }
                        input:checked ~ span{
                            background: #07604B;
                            &::after{
                                left: 27px;
                            }
                        }
                    }
                }
            }
            .check{
                cursor: pointer;
                display: flex;
                align-items: center;
                gap: 10px;

                color: #1A1A1A;
                font-family: v.$font_raleway;
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 22px; /* 157.143% */
            }
            .form-group{
                display: flex;
                width: 100%;
                flex-direction: column-reverse;
                align-items: flex-start;
                gap: 6px;
                label{
                    color: #1A1A1A;
                    font-family: v.$font_raleway;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 22px; /* 157.143% */
                }
                input, textarea, select{
                    width: 100%;
                    border-radius: 4px;
                    border: 1px solid #EAECF0;
                    background: #F6F8F9;
                    padding: 12px;
                    color: #1A1A1A;
                    font-family: v.$font_raleway;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 22px;
                    &:focus{
                        outline: 1px solid #07604B;
                        background: #E2F2EE;
                        color: #07604B;
                        font-weight: 600;
                    }
                }
                input:required + label::after{
                    content: " *";
                    color: #E31111;
                }
            }
            .group-row{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                gap: 15px;
                label{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    gap: 5px;
    
                    font-weight: 600;
                    a{
                        color: #07604B;
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 18px; /* 150% */
                    }
                }
                select{
                    display: flex;
                    width: 100%;
                    padding: 12px 18px;
                    justify-content: space-between;
                    align-items: center;

                    border-radius: 8px;
                    border: 1px solid #EAECF0;
                    background: #FFF;

                    color: #1A1A1A;
                    font-family: v.$font_raleway;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 20px; /* 142.857% */

                    option{
                        color: #1A1A1A;
                        font-family: v.$font_raleway;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 20px; /* 142.857% */
                    }
                }
            }
            p{
                margin: 0;
                color: #313131;
                font-family: v.$font_raleway;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 18px; /* 150% */
            }

            .heading2{
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                align-self: stretch;
                color: #1A1A1A;
                font-family: v.$font_raleway;
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: 28px; /* 157.143% */

                i{
                    cursor: pointer;
                    width: 16px;
                    height: 16px;
                    content: url('../../assets/svg/plus.svg');
                }
            }
            .education-inputs, .lang-inputs{
                margin-bottom: 30px;
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 20px;
                .delete{
                    cursor: pointer;
                    margin-left: auto;
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    font-size: 16px;
                    font-family: v.$font_raleway;
                    i{
                        content: url('../../assets/svg/profile/user-delete.svg');
                    }
                }
            }
        }
        input[type="submit"]{
            display: flex;
            width: 100%;
            padding: 16px 30px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border-radius: 8px;
            background: #07604B;
            color: #FFF;
            font-family: v.$font_raleway;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px; /* 142.857% */
            border: none;
            cursor: pointer;
            &:disabled{
                cursor: default;
                background: rgba($color: #07604B, $alpha: .5);
            }
        }   
    }

    @include _xl{
        flex: 1 0 0;
        border-radius: 10px;
        background: #FFF;
        padding: 30px;
        gap: 30px;
        form{
            gap: 30px;
            .avatar-edit{
                flex-direction: row;
                align-items: center;
                gap: 30px;
                .avatar{
                    margin: 0;
                    min-width: 150px;
                }
                .avatar-btns{
                    display: flex;
                    align-items: flex-start;
                    gap: 10px;
                    .btn{
                        flex: 0 0 0;
                        display: inline-flex;
                        padding: 14px 25px;
                        white-space: nowrap;
            
                        font-size: 14px;
                        input{
                            display: none;
                        }
                    }
                }
            }
            .inputs{
                gap: 20px;
                .row{
                    flex-direction: row;
                    gap: 20px;
                    .form-group{
                        width: calc(50% - 10px);
                    }
                }
                .form-group{
                    display: flex;
                    width: 100%;
                    flex-direction: column-reverse;
                    align-items: flex-start;
                    gap: 6px;
                    label{
                        font-size: 16px;
                        line-height: 24px; /* 157.143% */
                    }
                    input, textarea{
                        border-radius: 8px;
                        padding: 14px;
                        font-size: 16px;
                        line-height: 24px;
                    }
                }
                .group-row{
                    display: inline-flex;
                    align-items: center;
                    // gap: 75px;
                    justify-content: space-between;
                    flex-direction: row;
                    label{
                        font-size: 14px;
                        line-height: 20px;
                        width: 100%;
                        max-width: 320px;
                        gap: 10px;
                    }
                    select{
                        width: 375px;
                        padding: 14px 18px;
                    }
                    input{
                        width: 375px;
                    }
                }
            }
            input[type="submit"]{
                all: unset;
                display: block;
                padding: 16px 30px;
                border-radius: 4px;
                background: #07604B;

                color: #FFF;
                font-family: v.$font_raleway;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 20px; /* 142.857% */
                cursor: pointer;
                margin-right: auto;
            }   
        }
    }
}