@use '../variables' as v;
@import '../adaptive';

.teacher-profile{
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    font-family: v.$font_raleway;
    font-style: normal;

    .content{
        all: unset;

        padding: 30px 30px 50px;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;

        .tab-items{
            width: 100%;
            display: inline-flex;
            justify-content: space-between;
            align-items: flex-start;
            .tab-item{
                flex: 1 0 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-bottom: 10px;

                text-align: center;
                color: #71717A;
                font-size: 14px;
                font-weight: 500;
                line-height: 24px; /* 171.429% */
                
                
                &.active{
                    color: #1A1A1A;
                    font-weight: 600;
                    border-bottom: 1px solid #1A1A1A;
                }
            }
        }

        .profile-content{
            padding-bottom: 50px;
            width: 100%;
            h2{
                color: #1A1A1A;
                font-family: v.$font_playfair_display;
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: 32px; /* 128.571% */
                margin: 0;
            }
            p{
                margin: 0;
                color: #1A1A1A;
                font-family: v.$font_raleway;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px; /* 150% */
            }

        }
    }
}
.profile-content.about{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    ul{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        align-self: stretch;
        padding: 0;
        margin: 0;
        li{
            display: flex;
            align-items: flex-start;
            gap: 10px;
            align-self: stretch;
            .year{
                display: flex;
                width: 90px;
                min-width: 90px;
                // padding-right: 18px;
                flex-direction: column;
                align-items: flex-start;
                align-self: stretch;

                color: #1A1A1A;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px; /* 150% */
            }
            .institution{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 4px;
                align-self: stretch;

                color: #71717A;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 18px; /* 157.143% */
                span{
                    color: #1A1A1A;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 20px; /* 150% */
                }
            }
        }
    }
}

.profile-content.schedule{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    p{
        display: flex;
        width: 100%;
        padding: 12px 10px;
        align-items: flex-start;
        gap: 12px;

        border-radius: 4px;
        background: #E2F2EE;

        color: #121117;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px; /* 150% */
        i{
            width: 24px;
            height: 24px;
            content: url('../../assets/svg/info.svg');
        }
    }
    .add-lesson{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        align-self: stretch;
        color: #121117;
        font-family: v.$font_raleway;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 150% */

        i{
            cursor: pointer;
            width: 16px;
            height: 16px;
            content: url('../../assets/svg/plus.svg');
        }
    }

    .days{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        i{
            cursor: pointer;
            width: 10.5px;
            height: 21px;
            &.prev{
                content: url('../../assets/svg/chevron-left-green.svg');
            }
            &.next{
                content: url('../../assets/svg/chevron-right-green.svg');
            }
        }
        .day{
            cursor: pointer;
            display: flex;
            width: 42px;
            padding: 15px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            flex-shrink: 0;

            border-radius: 10px;
            background: #FFF;

            color: #1A1A1A;
            text-align: center;
            font-family: v.$font_raleway;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 17px; /* 137.5% */
            &.active{
                background: #07604B;
                color: #FFF;
            }
        }
    }
    .schedule-times{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        align-self: stretch;

        .schedule-time{
            display: flex;
            padding: 18px 20px;
            justify-content: space-between;
            align-items: center;
            align-self: stretch;

            border-radius: 10px;
            border: 1px solid #DADADA;
            .time{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                color: #1A1A1A;
                font-family: v.$font_raleway;
                font-size: 24px;
                font-style: normal;
                font-weight: 600;
                line-height: 30px; /* 118.75% */
                span{
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 18px; /* 150% */
                }
            }
            .btn{
                display: flex;
                padding: 12px 28px;
                justify-content: center;
                align-items: center;
                gap: 10px;

                border-radius: 10px;
                background: #F4F5F6;

                color: #1A1A1A;
                font-family: v.$font_raleway;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 22px; /* 150% */
            }
        }
    }
    #addLessonModal{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0, 0, 0, 0.40);

        font-family: v.$font_raleway;

        padding: 30px;

        form{
            display: inline-flex;
            padding: 30px 20px 20px 20px;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;

            border-radius: 12px;
            background: #FFF;
            .heading{
                color: #1A1A1A;
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: 28px; /* 140% */
            }
            .form-group{
                display: flex;
                width: 100%;
                flex-direction: column;
                align-items: flex-start;
                gap: 6px;
                label{
                    color: #1A1A1A;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px; /* 142.857% */
                }
                select{
                    width: 100%;
                    border-radius: 4px;
                    border: 1px solid #EAECF0;
                    background: #F6F8F9;
                    padding: 14px;

                    color: #1A1A1A;
                    font-family: v.$font_raleway;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px; /* 142.857% */
                }
            }
            .btns{
                display: flex;
                width: 100%;
                align-items: flex-start;
                gap: 10px;
                .btn{
                    cursor: pointer;
                    flex: 1 0 0;
                    padding: 14px 32px;

                    border-radius: 8px;
                    background: #F6F8F9;
                    color: #1A1A1A;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px; /* 166.667% */
                }
                button.btn{
                    background: #07604B;
                    color: #FFF;
                    border: none;
                    &:focus{
                        outline: none;
                    }
                }
            }
        }
    }
    @include _xl{
        gap: 30px;
        p{
            padding: 12px 16px;
            font-size: 16px;
            line-height: 24px; /* 150% */
        }

        .days{
            .day{
                width: 80px;
                font-size: 16px;
                line-height: 22px; 
            }
        }
        .schedule-times{
            .schedule-time{
                padding: 24px 40px;
                .time{
                    font-size: 32px;
                    line-height: 38px; /* 118.75% */
                    span{
                        font-size: 16px;
                        line-height: 24px; /* 150% */
                    }
                }
                .btn{
                    padding: 14px 40px;
                    font-size: 16px;
                    line-height: 24px; /* 150% */
                }
            }
        }
    }
}

.profile-content.reviews{
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    .rating{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        .value{
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            gap: 8px;

            color: #1A1A1A;
            font-family: v.$font_raleway;
            font-style: normal;
            .val{
                font-size: 52px;
                font-weight: 600;
                line-height: 54px; /* 120.833% */
            }
            .rest{
                display: flex;
                flex-direction: column;
                .stars{
                    display: flex;
                    align-items: flex-start;
                    align-self: stretch;
                    i{
                        width: 20px;
                        height: 20px;
                        content: url('../../assets/svg/star-black.svg');
                        cursor: pointer;
                        &:hover{
                            content: url('../../assets/svg/star.svg');
                        }
                    }
                }
                span{
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 20px; /* 150% */
                }
            }
        }
        .counts{
            display: flex;
            // height: 122px;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            .count{
                width: 100%;
                display: flex;
                align-items: center;
                gap: 5px;
                align-self: stretch;

                color: #1A1A1A;
                font-family: v.$font_raleway;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px; /* 142.857% */
                span{
                    display: flex;
                    width: 20px;
                    padding: 0px 6.55px 0px 9.45px;
                    justify-content: center;
                    align-items: flex-start;
                    line-height: 22px; /* 157.143% */
                }
                .line{
                    flex-grow: 1;
                    border-radius: 8px;
                    height: 4px;
                    background: #E4E4E7;
                    span{
                        height: 100%;
                        border-radius: 8px;
                        background: #1A1A1A;
                    }
                }
            }
        }
    }

    .reviews{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        .review{
            display: flex;
            align-items: flex-start;
            gap: 10px;
            align-self: stretch;
            .reviewer-img{
                width: 46px;
                height: 46px;
                min-width: 46px;
                border-radius: 50%;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
            .review-content{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
                flex: 1 0 0;
                .stars{
                    display: flex;
                    align-items: flex-start;
                    gap: 3px;
                    i{
                        width: 20px;
                        height: 20px;
                        content: url('../../assets/svg/star-grey.svg');
                        &.star{
                            content: url('../../assets/svg/star.svg');
                        }
                    }
                }
                .text{
                    color: #1A1A1A;
                    font-family: v.$font_raleway;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 20px; /* 162.5% */
                }
                .author{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 3px;
                    font-family: v.$font_raleway;
                    font-size: 14px;
                    font-style: normal;
                    line-height: 20px; /* 157.143% */
                    color: #1A1A1A;
                    font-weight: 700;
                    .name{
                    }
                    .date{
                        font-size: 12px;
                        line-height: 18px;
                        color: #71717A;
                        font-weight: 400;
                    }
                }
            }
        }
        hr{
            margin: 0;
            height: 2px;
            width: 100%;
            border: none;
            background: #F4F4F5;
        }
        .more{
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 10px;

            color: rgba($color: #1A1A1A, $alpha: .5) ;
            font-family: v.$font_raleway;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 16px; /* 163.636% */
            letter-spacing: 1px;
            text-transform: uppercase;
            i{
                width: 14px;
                height: 14px;
                content: url('../../assets/svg/refresh.svg');
            }

        }
        .btn{
            cursor: pointer;
            margin: auto;
            display: flex;
            padding: 12px 40px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 8px;
            border: 1px solid #DADADA;

            color: #1A1A1A;
            font-family: v.$font_raleway;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 22px; /* 150% */
        }
    }
    @include _xl{
        gap: 30px;

        .rating{
            flex-direction: row;
            .value{
                flex-direction: column;
                align-items: flex-start;
                color: #1A1A1A;
                font-family: v.$font_raleway;
                font-style: normal;
                .val{
                    font-size: 48px;
                    line-height: 58px; /* 120.833% */
                }
                .rest{
                    gap: 8px;
                    .stars{
                        i{
                            width: 24px;
                            height: 24px;
                        }
                    }
                    span{
                        font-size: 16px;
                        line-height: 24px; /* 150% */
                    }
                }
            }
            .counts{
                height: 122px;
                justify-content: space-between;
                .count{
                    font-size: 14px;
                    span{
                        width: 40px;
                    }
                }
            }
        }

        .reviews{
            gap: 30px;
            .review{
                gap: 20px;
                .reviewer-img{
                    width: 44px;
                    height: 44px;
                    min-width: 44px;
                }
                .review-content{
                    gap: 20px;
                    flex: initial;
                    .stars{
                        gap: 0;
                        i{
                            width: 24px;
                            height: 24px;
                        }
                    }
                    .text{
                        font-size: 16px;
                        line-height: 26px; /* 162.5% */
                    }
                    .author{
                        line-height: 22px; /* 157.143% */
                        .date{
                            font-size: 14px;
                            line-height: 22px;
                        }
                    }
                }
            }
            .more{
                gap: 12px;
                font-size: 11px;
                line-height: 18px;
            }
            .btn{
                border-radius: 10px;
                font-size: 16px;
                line-height: 24px; /* 150% */
            }
        }
    }
}