@use '../variables' as v;
@import '../adaptive';

#usersidebar{
    display: none;
    @include _xl{
        padding: 30px 40px;
        background: #FFF;
        height: 100%;
        width: 300px;
        height: 930px;
        
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        .group{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 15px;
            label{
                color: #71717A;
                font-family: v.$font-raleway;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 20px; /* 142.857% */
                letter-spacing: 0.7px;
                text-transform: uppercase;
            }
            .links{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
                .link{
                    cursor: pointer;
                    display: flex;
                    width: 220px;
                    padding: 10px 15px;
                    align-items: center;
                    gap: 10px;
                    border-radius: 5px;
                    color: #1A1A1A;
                    font-family: v.$font-raleway;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 20px; /* 142.857% */
                    i{
                        width: 28px;
                        max-width: 28px;
                        height: 28px;
                        flex-shrink: 0;
                        &.menu{
                            content: url('../../assets/svg/profile/user-menu.svg');
                        }
                        &.lessons{
                            content: url('../../assets/svg/profile/user-lessons.svg');
                        }
                        &.profile{
                            content: url('../../assets/svg/profile/user-profile.svg');
                        }
                        &.settings{
                            content: url('../../assets/svg/profile/user-settings.svg');
                        }
                        &.logout{
                            content: url('../../assets/svg/profile/logout.svg');
                        }
                    }
                    &.active {
                        background: #07604B;
                        color: #FFFFFF;
                        i{
                            &.menu{
                                content: url('../../assets/svg/profile/user-menu-white.svg');
                            }
                            &.lessons{
                                content: url('../../assets/svg/profile/user-lessons-white.svg');
                            }
                            &.profile{
                                content: url('../../assets/svg/profile/user-profile-white.svg');
                            }
                            &.settings{
                                content: url('../../assets/svg/profile/user-settings-white.svg');
                            }
                        }
                    }
                }
            }
        }
    }
}