@use '../variables' as v;
@import '../adaptive';

#admin{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;
    main{
        flex: 1 0 0;
        padding-left: 280px;
    }
}